*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-align: center;
}

.container{
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container>*{
    background-color: lightskyblue;
    border: 1px solid black;
    width: 50%;
    max-width: 500px;
    padding: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li{
    background-color: white;
    list-style-type: none;
    padding: 5px 0;
    border: 1px solid black;
}

